myenv/
.venv/
__pycache__/
*.pyc
.venv
venv
.env
__pycache__
.github
.DS_Store
storage/
folder/
*.log
*.zip
create_langgraph_test_zip.py
temp_langgraph_agent
.scannerwork
.sonar
uploads/
logs/
data/chroma_db/
data/chroma_db/chroma.sqlite3
static/
media/
data/
storage/
